body {
    background-color: lightgreen;
}
h1 {
    color: blue;
}
h1 {
  font-style: italic;
}
h2 {
  color: black;
}
p {
    color: black;
}
h1 {
  text-align: center;
}
  h1 {
    font-size: 350%;
}
h2 {
  text-align: center;
}
h2 {
    font-size: 200%;
}
h3 {
  color: purple;
}

a {
 font-size: 130%
}
p {
  font-size: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
img {
    border-radius: 8px;
